*{
    margin: 0;
    padding: 0;
}
body{

  font-family: "Gabarito", sans-serif;
 
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between
    ;
    border-bottom: solid black 1px;
    gap: 10px;
 align-items: center;
}
.navbar__s1__title{

    color: #B123C4;
  
}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__s2 input{
    border: none;
    font-size: 16px;
    width: 100%;

    
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}
.categories{
        display: flex;
        padding: 10px;
        border: solid 1px;
        justify-content: space-between;
        
    }

.categories p {
background-color: #881EC4;
color: white;
padding: 10px;
border-radius: 30px;

}
.sale-image img{
    width: 100%;
}
.recommended{
    padding: 10px;
}
.course-card{
    width: 200px;
  
}
.course-card img{
    width: 100%;
    height: 50%;
}
.recommended__container{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 10px;
}
.topics{
    padding: 10px;
}
.topics__container{
    display: flex;
  gap: 10px;
  margin-top: 10px;
    flex-wrap: wrap;
}
.topics__container p{
    border: solid black 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
text-align: center;
}
.popular{
    padding: 10px;}

    .popular__container{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 10px;
}
.footer{
    padding: 30px;
    border: solid black 1px;
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
 
.footer-one{
    display: flex;
    gap: 10px;
    padding: 10px;

}
.footer-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

}
.footer-one p{
    margin: 20px;
}